.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;

  .header_name {
    padding-left: 0.5rem;
  }

  .link_container {
    display: flex;
    flex-direction: row;

    .link {
      margin: 1rem;
      text-decoration: none;
    }
  }
}
